// responsive
@media screen and (max-width: 1280px) {

    .home {
        .home-content {
            .home-left {
                text-align: center;
                width: 60%;
            }
            .home-right {
                width: 40%;
            }
        }
    }

    // gallery
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    font-size: 1rem;
    // border: 1px solid black;
    place-items: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 100px;
    .gallery-box {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 10px;
        align-items: center;
        height: 350px;
        width: 250px;
        border-radius: 5px;
        transition: all 0.5s ease;
        box-shadow: 1px 1px 5px 1px rgba(0, 54, 44, 0.53);

        .gallery-img {

            margin: 20px;
            height: 200px;
            width: 160px;
            overflow: hidden;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p {
            font-style: italic;
            font-size: 0.8rem;
        }
        .tanggal {
            color: gray;
            font-size: 0.7rem;
        }
        svg {
            height: 40px;
            width: 40px;
            stroke: black;
            margin: 10px;
            padding: 5px;
            border-radius: 5px;
            transition: all 0.5s ease;
        }

        svg:hover {
            transform: scale(1.1);
            background-color: rgba(0, 0, 0, 0.129);
        }
    }

    .gallery-box:hover {
        background-color: rgba(0, 0, 0, 0.059);
        transform: scale(1.02);
        box-shadow: 2px 2px 20px 5px rgba(0, 120, 98, 0.53);
    }
}

}

@media screen and (max-width: 768px) {
    .navbar {
        .navbar-left {
            width: 50%;
            justify-content: start;
        }
        .navbar-nav {
            display: none;
        }
        .navbar-right {
            display: flex;
            width: 50%;
            justify-content: end;
        }
    }

    // home
.home {
    margin-top: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: transparent;

    .home-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .home-left {
            // margin-top: 700px;
            display: flex;
            min-height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;
            padding: 20px;
            text-align: center;

            h2 {
                span {
                    background: linear-gradient(to right, rgb(0, 215, 176), rgb(217, 0, 210));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .created {
                color: #494949;
            }

            p {

                font-size: 0.8rem;
                span {
                    font-style: italic;
                }
            }

            .quotes {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 300px;

                h2 {
                    font-size: 0.9rem;
                    margin-bottom: 5px;
                }

                button {
                    width: min(400px,80%);
                    background-color: rgba(0, 120, 98, 0.25);
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                    transition: all 0.5s ease;
                    margin: 5px;
                    font-size: 0.8rem;
                }

                button:hover {
                    transform: scale(1.1);
                    background-color: rgb(0, 120, 98);
                    color: white;
                }

                .quotes-content {
                    margin-top: 10px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 10px;
                    gap: 5px;
                    text-align: center;
                    width: 100%;
                    background-color: rgb(0, 120, 98);
                    border-radius: 5px;
                    color: white;
                    height: 200px;;

                    #salin-quotes {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        height: 20px;
                    }

                    .quotes-text {
                        h3 {
                            font-size: 0.9rem;
                            margin-bottom: 10px;
                        }
                        p {
                            font-family: 'Playpen Sans', sans-serif;
                        }
                    }

                    #content-quotes-text {
                        font-size: 0.7rem;
                        width: 80%;
                        margin: auto;
                    }
                }
            }
        }

        .home-right {
            margin-top: auto;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;

            .profile-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.764);
                // border: 1px solid black;
                height: 70vh;
                border-radius: 5px;
                text-align: center;
                font-size: 0.5rem;
                // height: 500px;
                // width: 320px;
                padding: 10px;
                margin: auto;
                max-height: 640px;
                min-height: 360px;
                aspect-ratio: 9/16;
                box-shadow: 2px 2px 10px 2px rgb(0, 255, 238), -2px -2px 10px 2px rgb(230, 0, 255);
                animation: card 4s infinite;

                .profile-header {
                    height: 5%;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    width: 100%;
                    margin: 10px;

                    .header-right {
                        display: flex;
                        gap: 10px;
                    }
                }

                .profile-content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    gap: 10px;
                    height: 55%;
                    width: 100%;
                    
                    h4 {
                        font-size: 0.8rem;
                    }

                    p {
                        font-size: 0.7rem;
                    }

                    button {
                        background-color: rgb(0, 120, 98);
                        color: white;
                        height: 30px;
                        width: 100px;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        border-radius: 5px;
                        border: none;
                        transition: all 0.5s ease;

                        a {
                            color: white;
                            font-size: 0.8rem;
                        }
                    }

                    button:hover {
                        background-color: rgb(149, 255, 255);
                        transform: scale(1.1);
                        a {
                            color: rgb(0, 104, 122);
                        }
                    }

                    img {
                        border-radius: 50%;
                        height: 100px;
                        width: 100px;
                    }

                    svg {
                        height: 100px;
                        width: 100px;
                    }
                }

                .profile-footer {
                    height: 40%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 100%;
                    gap: 10px;
                    
                    .box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        transition: all 0.5s ease;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        transition: all 0.5s ease;

                        .profile-social-media {
                            transition: all 0.5s ease;
                        }
                    }

                    .box:hover {
                        transform: scale(1.1);
                        background-color: rgba(0, 0, 0, 0.259);
                        .profile-social-media {
                            position: absolute;
                            display: flex;
                            justify-content: space-evenly;
                            flex-direction: column;
                            align-items: center;
                            font-size: 0.6rem;
                            gap: 10px;
                            background-color: rgba(0, 0, 0, 0.385);
                            height: 100%;
                            width: 150%;
                            top: -40%;
                            border-radius: 5px;
                            padding: 10px;
                            backdrop-filter: blur(5px);

                            a {
                                color: white;
                                transition: all 0.5s ease;
                                border-bottom: 1px solid white;
                            }

                            a:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    svg {
                        height: 40px;
                        width: 40px;
                    }

                    .profile-social-media {
                        display: none;
                    }
                }

            }
        }
    }

}

// about
.about {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 1rem;
    padding: 50px;

    .about-content{
        display: grid;
        grid-template-columns: 1fr;
        .kias {
            display: none;
            background-color:  rgb(0, 120, 98);
            border-radius: 0px 10px 10px 0px;
        }
        .about-left {
            text-align: justify;
            display: flex;
            justify-content: center;
            padding: 10px;
            p {
                width: 100%;
                font-family: 'Playpen Sans', sans-serif;
                font-style: italic;
                font-size: 0.9rem;

            }
        }
        .about-right {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            background-color:  rgb(0, 120, 98);
            color: white;
            padding: 20px;
            height: auto;
            gap: 20px;
            p {
                font-size: 0.7rem;
                width: 90%;
                margin: auto;
            }
            border-radius: 10px 10px 10px 10px;
        }
    }
}

// gallery
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    font-size: 1rem;
    // border: 1px solid black;
    place-items: center;
    gap: 50px;
    width: 100%;
    margin-top: auto;
    .gallery-box {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 10px;
        align-items: center;
        height: 300px;
        width: 170px;
        border-radius: 5px;
        transition: all 0.5s ease;
        box-shadow: 1px 1px 5px 1px rgba(0, 54, 44, 0.53);

        .gallery-img {

            margin: 20px;
            height: 180px;
            width: 100px;
            overflow: hidden;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p {
            font-style: italic;
            font-size: 0.7rem;
        }
        .tanggal {
            color: gray;
            font-size: 0.6rem;
        }
        svg {
            height: 40px;
            width: 40px;
            stroke: black;
            margin: 10px;
            padding: 5px;
            border-radius: 5px;
            transition: all 0.5s ease;
        }

        svg:hover {
            transform: scale(1.1);
            background-color: rgba(0, 0, 0, 0.129);
        }
    }

    .gallery-box:hover {
        background-color: rgba(0, 0, 0, 0.059);
        transform: scale(1.02);
        box-shadow: 2px 2px 20px 5px rgba(0, 120, 98, 0.53);
    }
}

// contact
.contact {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 10px;
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            margin-bottom: -10px;
        }
        #tulis-pesan {
            padding: 5px;
            transition: all 0.5s ease;
            border-radius: 2px;
            border: 1px solid black;
        }
        #tulis-pesan:focus {
            outline: none;
            border: 1px solid rgb(0, 120, 98);
            box-shadow: 1px 1px 10px 0px rgb(0, 120, 98);
        }
        #username {
            padding: 5px;
            border-radius: 2px;
            transition: all 0.5s ease;
            border: 1px solid black;
        }

        #username:focus {
            outline: none;
            border: 1px solid rgb(0, 120, 98);
            box-shadow: 1px 1px 10px 0px rgb(0, 120, 98);
        }
        #submit {
            padding: 5px;
            width: 100px;
            background-color: rgb(0, 120, 98);
            color: white;
            border: none;
            border-radius: 2px;
        }
    }
}

footer {
    p {
        font-size: 0.7rem;
    }
    
}
}